.search-box{
  height: 34px;
  line-height: 20px;
  min-height: 34px;
  width: 300px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  margin-bottom: 24px;
  .spinner{
    position: absolute;
    top: 5px;
    left: 7px;
    height: 24px;
  }
  input{
    background-position:right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    background-color: #fafbfc;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
    height: 31px;
    width: 99%;
    padding-left: 35px;
    &:focus{
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
  .icon{
    position: absolute;
    top: 9px;
    left: 10px;
  }
}